@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 38 27% 92%;
    /* #F0EBE3 */
    --foreground: 194 13% 39%;
    /* #576F72 */

    --card: 38 27% 85%;
    /* #E4DCCF */
    --card-foreground: 194 13% 39%;
    /* #576F72 */

    --popover: 38 27% 92%;
    --popover-foreground: 194 13% 39%;

    --primary: 194 13% 39%;
    /* #576F72 */
    --primary-foreground: 38 27% 92%;
    /* #F0EBE3 */

    --secondary: 178 14% 55%;
    /* #7D9D9C */
    --secondary-foreground: 38 27% 92%;

    --muted: 38 27% 85%;
    --muted-foreground: 194 13% 39%;

    --accent: 178 14% 55%;
    --accent-foreground: 38 27% 92%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 38 27% 92%;

    --border: 178 14% 55%;
    /* #7D9D9C */
    --input: 194 13% 39%;
    --ring: 178 14% 55%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}